<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spacecontact">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoimagen"
        android:label="SpaceContact"
        android:roundIcon="@drawable/logoimagen"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrefMenu"></activity>
        <activity android:name=".Planet" />
        <activity android:name=".entity.Shop" />

        <service android:name=".gameFunctions.MyService" />

        <activity android:name=".Contact" />
        <activity android:name=".Register" />
        <activity android:name=".Game" />
        <activity android:name=".MainMenu" />
        <activity android:name=".Characters" />
        <activity android:name=".Login" />
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/SplashArt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>